.overlay {
	position: fixed;
	inset: 0;
	background-color: #12121280;
	@include center-flex;
	.pop-up {
		position: relative;
		margin: 0 auto;
		width: min(100% - 1rem, 920px);
		height: 210px;
		background-color: #fff;
		opacity: 1;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 95px;
		gap: 24px;
		h2 {
			font-weight: 700;
			font-size: 42px;
		}
		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
		}
		.close-pop-up {
			position: absolute;
			top: 46px;
			right: 46px;
			width: 18px;
			height: 18px;
			cursor: pointer;
			border: none;
			background-color: transparent;
			&::before,
			&::after {
				position: absolute;
				content: '';
				width: 2px;
				height: 18px;
				background-color: #000;
				border-radius: 8px;
			}
			&::before {
				transform: translateY(-10px) rotate(45deg);
			}
			&::after {
				transform: translateY(-10px) rotate(-45deg);
			}
		}
		.reset {
			border: none;
			padding: 10px;
			background: #88837f;
			border-radius: 12px;
			color: white;
		}
	}
}
