@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import './mixins';
@import './overlay';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
button {
	cursor: pointer;
}
section {
	overflow: hidden;
	width: 100%;
	width: min(calc(100% - 1rem), 1440px);
	flex-wrap: wrap;
	@include center-flex;
	margin: 0 auto;
	padding-top: 96px;
	gap: 95px;
	img {
		width: min(100%, 505px);
		aspect-ratio: 505 / 330;
		left: 230px;
		top: 96px;
	}
	div {
		width: min(100%, 380px);
		height: 380px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 32px;
		h1 {
			width: 380px;
			height: max-content;
			font-weight: 700;
			font-size: 42px;
			line-height: 120%;
			color: #121212;
		}
		p {
			width: 100%;
			height: max-content;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			color: #121212;
		}
		button {
			border: none;
			@include center-flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 16px 40px;
			gap: 10px;
			width: 128px;
			height: 48px;
			background: #e4c1ae;
			border-radius: 32px;
			color: white;
			font-weight: 700;
		}
	}
}
@import './media';
